.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.log
.DS_Store
*.plan
tfplan
tfplan.json
